body {
  font-family: Garamond;
  overflow-x: hidden;
  font-size: 32px;
}

ul {
  padding-left: 3vw;
  margin-top: -5px;
}

li {
  font-size: 1em;
}

p {
  font-size: 1em;
}

h2 {
  font-size: 1em;
  margin-bottom: 1em;
}

@media (max-width: 800px) {
  body {
    font-size: 14px;
  }
  #name {
    font-size: 0.75em;
  }

  #tech-imgs {
    margin-left: 1vw;
  }

  #job-title {
    font-size: 0.7em;
  }

  .nav-links {
    font-size: 0.7em;
  }

  #links-section {
    margin-top: 5vh;
    height: 40%;
  }
}
